body {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
}

#toggle-messenger-sidebar {
	width:30px;
	height:30px;
	position:absolute;
	background:#e6e6e6;
	top:0;
	left:0;
	line-height: 30px;
	text-align: center;
	color:#b3b3b3;
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	cursor:pointer;
}

#toggle-messenger-sidebar:before {
	content: '';
	width: 10px;
	height: 13px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 13px;
	border: 1px solid #b3b3b3;
}

#toggle-messenger-sidebar:after {
	content: '';
	width: 2px;
	height: 13px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 8px;
	border: 1px solid #b3b3b3;
}

#topbar {
	height:30px;
	background:#e6e6e6;
	-webkit-app-region: drag;
	position: absolute;
	top: 0px;
	left: 30px;
	right: 30px;
}

#close {
	width:30px;
	height:30px;
	position:absolute;
	background:#e6e6e6;
	top:0;
	right:0;
	line-height: 30px;
	text-align: center;
	color:#b3b3b3;
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	cursor:pointer;
}

#close:before {
	content:'';
	width:15px;
	height:1px;
	background:#b3b3b3;
	position:absolute;
	top:50%;
	left:5px;
	transform: rotate(135deg);
}

#close:after {
	content:'';
	width:15px;
	height:1px;
	background:#b3b3b3;
	position:absolute;
	top:50%;
	left:5px;
	transform: rotate(45deg);
}

iframe {
	width:750px;
	height:470px;
	border:0;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow:hidden;
}